.column {
  padding-top: 64px;
}
.listRecommendedBox {
  display: flex;
  margin: 0 -16px;
}
.listRecommendedBoxWrapper {
  width: 80%;
  margin: 0 auto;
}

/* 
 */
/* banner */
.banner {
  display: flex;
  background: #2e2e2e;
  width: 100%;
  padding-top: 64px;
}
.foodBannerImageBox {
  width: 42.1875%;
  background: url(../../image/bannerFood.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foodBannerImage {
  width: 100%;
}
.graphBannerBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.graphBanner {
  width: 80%;
  padding: 8px 0;
}
.mainPhotoText {
  width: 35%;
}
/* body */

.body {
  width: 80%;
  margin: 0 auto;
}
.listItemBox {
  margin:0 -4px;
  display: flex;
  flex-wrap: wrap;
}

.body_buttonBox {
  width: 100%;
}
.body_button {
  margin: 24px auto;
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
  height: 56px;
  width: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  color: white;
}
