body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.arrow {
  width: 15px;
}
.scrollTopButton {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #777777;
  cursor: pointer;
}
@media(max-width:1000px){
  .scrollTopButton{
    right: 2%;
  }
}